GEMINI_API_KEY=
GEMINI_MODEL=gemini-2.5-flash
GEMINI_TTS_MODEL=gemini-2.5-flash-preview-tts
GEMINI_TTS_VOICE=Kore
AUDIO_REPLY_MODE=off
OPENAI_API_KEY=
PORT=3001
WWEB_VERSION=
PUPPETEER_EXECUTABLE_PATH=
WPP_AUTO_CLEAR_SESSION=1
WPP_AUTO_RESTART_ON_FAIL=1
